/**
 * _base.scss will be shared between all pages!
 */
@import "minima/minima";

* {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

$home-icon-space-width: 80px;

$font-size-1: 0.625rem;
$font-size-2: 0.75rem;
$font-size-3: 0.875rem;
$font-size-4: 1rem;
$font-size-5: 1.125rem;
$font-size-6: 1.25rem;
$font-size-7: 1.5rem;
$font-size-8: 1.875rem;

@mixin debug-border($color) {
    border: solid 0.5px $color;
}

@function pow($base, $exponents) {
    $raised: 1;

    @for $i from 1 through $exponents {
        $raised: $raised * $base;
    }

    @return $raised;
}

// https://css-tricks.com/snippets/sass/tint-shade-functions/
/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

.site-header {
    background: #0d1632;
    .site-title {
        color: rgb(204, 204, 204);
        font-family: "Novar";
    }

    .site-nav input:checked ~ .trigger {
        padding: 0.5rem;
        .category-link {
            display: block;
            text-align: left;
            color: rgb(82, 82, 82);
        }
    }

    .trigger {
        display: flex;
        align-items: center;
        font-family: "Novar";

        .category-link {
            $link-color: rgba(158, 151, 168, 1);
            display: inline-block;
            color: $link-color;
            margin-right: 1rem;
            text-decoration: none;
            transition: all 0.3s ease-in;

            &:hover {
                color: tint($link-color, 80%);
            }
            .link-title {
                font-size: $font-size-5;
            }

            .link-subtitle {
                font-size: $font-size-3;
            }
            // color: blue;
        }
    }
}

.page-content {
    // font-family: "Novar";
}

.post-list-link {
    font-size: $font-size-6;
    &:hover {
        text-decoration: none;
    }
    .excerpt {
        font-size: $font-size-4;
        color: $text-color;
    }
}
