/**
 * _base.scss will be shared between all pages!
 */

* {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

$home-icon-space-width: 80px;

@mixin debug-border($color) {
    border: solid 0.5px $color;
}

@function pow($base, $exponents) {
    $raised: 1;

    @for $i from 1 through $exponents {
        $raised: $raised * $base;
    }

    @return $raised;
}

// https://css-tricks.com/snippets/sass/tint-shade-functions/
/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

.site-header {
    background: #0d1632;
    .site-title {
        color: rgb(204, 204, 204);
        font-family: "Novar";
    }

    .trigger {
        display: flex;
        align-items: center;
        font-family: "Novar";

        .category-link {
            $link-color: rgba(158, 151, 168, 1);
            display: inline-block;
            color: $link-color;
            margin-right: 1rem;
            text-decoration: none;
            transition: all 0.3s ease-in;

            &:hover {
                color: saturate($link-color, 50%);
            }
            .link-title {
                font-size: 1.2rem;
            }

            .link-subtitle {
                font-size: 0.9rem;
            }
            // color: blue;
        }
    }
}

.page-content {
    // font-family: "Novar";
}

.excerpt {
}
