@import "fonts/Noway/stylesheet_italic";
@import "fonts/Noway/stylesheet_regular";
@import "fonts/Novar/novar";
@import "_base";
@import "main-icon";

.home-body {
    font-family: "Novar";
    $dark-blue: rgb(13, 22, 50);
    background: linear-gradient(110deg, $dark-blue, rgb(34, 12, 29));
}

.home-title-wrapper {
    margin-top: 20%;
    text-align: center;
    color: white;
    // font-weight: lighter;
}

.home-title-top {
    .home-title {
        opacity: 0.7;
        font-weight: 200;
    }
}

.home-title-middle {
    .home-title-sub {
        opacity: 0.7;
        font-weight: lighter;
    }
}

.home-title-bottom {
}

.home-title.home-title-main {
    // font-family: "nowayitalic";
    font-size: 3.5rem;
}

.home-nav-icon-wrapper {
    height: $home-icon-space-width;
    display: block;
}

.home-nav-wrapper {
    color: white;
    margin: 3rem 0rem;
    margin-top: 0rem;
    // a {
    // color: rgb(198, 198, 198);
    // }
}

.home-nav {
    display: flex;
    @include media-query($on-palm) {
        display: block;
    }
}

.home-nav-block {
    margin: 0;
    // Block padding
    // padding: 0 0.5rem;
    flex-basis: 25%;

    // @include debug-border;

    @include media-query($on-palm) {
        margin-top: $spacing-unit;
        margin-top: 20vh;
        margin-bottom: 20vh;
    }

    .home-nav-upper {
        text-align: center;
        font-size: 2rem;
        a {
            color: white;
        }
    }
    .home-nav-title {
        font-size: 0.9rem;
        text-align: center;
        a {
            transition: all 0.2s ease-in;
            color: rgba(180, 197, 238, 0.7);
            text-decoration: none;
            &:hover {
                color: rgba(255, 255, 255, 0.9);

                .nav-subtitle-header {
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }

        .nav-subtitle-header {
            transition: inherit;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.home-about-wrapper {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    // margin: 3rem 0;

    @include media-query($on-palm) {
        position: relative;
        bottom: 0;
        margin: 3rem 0;
        text-align: center;
        margin-top: $spacing-unit;
    }

    .about-link {
        color: rgb(128, 128, 128);
    }
}
