@import "_base";
@import "nav_icon.scss";

@mixin icon-bar {
    content: "";
    // width: 30%;
    background: rgba(144, 143, 143, 1);
    height: 1px;
    display: inline-block;
}

$icon-bar-withdraw-time: 0.3s;

@mixin hover-icons {
    .nav-icon-outer {
        &:after {
            opacity: 1;
        }
        .icon-bar-left {
            transform: translateX(-100%);
        }

        .icon-bar-right {
            transform: translateX(100%);
        }
    }

    .nav-icon-inner {
        cursor: pointer;
    }

    .nav-icon-1D {
        @include nav-icon-1D-hover($icon-bar-withdraw-time);
    }

    .icon-2d-wrapper {
        transform: scale(1.1);
    }
    @include nav-icon-2d-hover;

    @include nav-icon-3d-hover;
}

.home-nav-block {
    &:hover,
    &.hover {
        @include hover-icons;
    }
}

.main-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .icon-bar {
        transition: all $icon-bar-withdraw-time ease-in;
        flex: 3;
        @include icon-bar;
    }

    .icon-bar-right {
        // transform-origin: right;
    }

    .icon-bar-left {
        // transform-origin: left;
    }

    &:hover,
    &.hover {
    }

    .nav-icon-outer {
        display: flex;
        flex: 8; // determines space for icon
        position: relative;
        align-items: center;

        .icon-bar {
            // background: green;
        }
    }

    .nav-icon-wrapper {
        flex: 7;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .nav-icon-inner {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
