@import "_base";
@import "nav_icon.scss";

@mixin icon-bar {
    content: "";
    // width: 30%;
    background: white;
    height: 1px;
    display: inline-block;
}

$icon-bar-withdraw-time: 0.3s;

.main-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .icon-bar {
        transition: all $icon-bar-withdraw-time ease-in;
        flex: 3;
        @include icon-bar;
    }

    .icon-bar-right {
        transform-origin: right;
    }

    .icon-bar-left {
        transform-origin: left;
    }

    &:hover {
        .nav-icon-outer {
            &:after {
                opacity: 1;
            }
            .icon-bar-left {
                transform: scaleX(0);
            }

            .icon-bar-right {
                transform: scaleX(0);
            }
        }

        .nav-icon-inner {
            // width: 40%;
            // padding: 1rem;
            // background: red;
            // height: 10px;
        }

        .nav-icon-1D {
            @include nav-icon-1D-hover($icon-bar-withdraw-time);
        }

        .icon-2d-wrapper {
            transform: scale(1.1);
        }
        @include nav-icon-2d-hover;

        @include nav-icon-3d-hover;
    }

    .nav-icon-outer {
        display: flex;
        flex: 5; // determines space for icon
        position: relative;
        align-items: center;

        .icon-bar {
            background: green;
        }
    }

    .nav-icon-wrapper {
        flex: 7;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .nav-icon-inner {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    // .nav-icon,
    // .nav-icon-2D,
    // .nav-icon-3D,
    .nav-icon-4D {
        // &:before {
        // margin-left: 15px;
        content: " ";
        width: 22px;
        height: 22px;
        background: white;
        position: relative;
        display: block;
        // transition: all ease-in 0.2s;

        transform: rotate(45deg);

        &:hover {
            transform: scale(1.5);
        }
        // }
    }
}

@keyframes spin {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(765deg);
    }
}
