@mixin icon-bar {
    content: "";
    // width: 30%;
    background: white;
    height: 1px;
    display: inline-block;
}

.main-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .icon-bar {
        flex: 1;
        @include icon-bar;
    }

    .nav-icon-outer {
        display: flex;
        flex: 2; // determines space for icon
        position: relative;
        align-items: center;
        .icon-bar {
            // background: green;
        }
    }

    .nav-icon-wrapper {
        flex: 3;
        justify-content: center;
        display: flex;
        align-items: center;
        // position: relative;
        // top: -4px;
        // position: absolute;
        // width: 40%;
        // display: inline-block;
    }

    .nav-icon-inner {
        display: inline-block;
        width: 100%;
        position: relative;
        // height: 1px;
        // width: 30px;
        // background: blue;
    }

    // .nav-icon,
    // .nav-icon-2D,
    .nav-icon-3D,
    .nav-icon-4D {
        // &:before {
        margin-left: 15px;
        content: " ";
        width: 22px;
        height: 22px;
        background: white;
        position: relative;
        display: block;
        transition: all ease-in 0.2s;

        transform: rotate(45deg);

        &:hover {
            transform: scale(1.5);
        }
        // }
    }
}

.icon-2d-wrapper {
    transition: all ease-in 0.2s;
    &:hover {
        transform: scale(1.3);
    }
}

.nav-icon-2D {
    margin-left: 15px;
    content: " ";
    width: 22px;
    height: 22px;
    // background: white;
    border: solid 1px white;
    position: relative;
    display: block;
    // transition: all ease-in 0.2s;
    animation: spin 24s infinite linear;
    // transform: rotate(45deg);
    &:hover {
        // transform: scale(1.5);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(765deg);
    }
}

.nav-icon-1D {
    position: relative;
    width: 100%;
    display: inline-block;

    // margin: 0 auto;
    // text-align: center;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    .dot-line {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        top: 11.5px;
        border-bottom: 0;
        border-top: solid 1px white;

        opacity: 1;
        transition: opacity ease-in 0.3s;
    }

    &:hover {
        .dot-line {
            // opacity: 0;
        }

        .dot {
            transform: scale(1.5);
            // height: 10px;
            // width: 10px;
        }
    }

    .dot {
        left: 14px;

        position: relative;
        top: -2px;
        z-index: 4;
        display: inline-block;
        border-radius: 50%;
        background: white;
        height: 6px;
        width: 6px;

        animation: blink-fade 3s infinite;
        // transition: all ease-in 0.3s;
    }

    $interval: 0.5s;

    .d1 {
        animation-delay: $interval;
    }

    .d2 {
        animation-delay: $interval * 2;
    }

    .d3 {
        animation-delay: $interval * 3;
    }
}

@keyframes blink-fade {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

$size: 25px; // cube length
.scene {
    display: inline-block;
    width: $size;
    height: $size;

    margin-top: 0px;
    margin-left: 15px;

    perspective: 600px;
}

.cube {
    position: relative;
    width: inherit;
    height: inherit;

    transform-style: preserve-3d;

    // transform: rotateY(60deg) rotateX(30deg);
    animation: cube-spin 20s infinite linear;

    &:hover {
        .cube-face {
            background: rgba(255, 255, 255, 0.18);
            border-width: 1px;
        }
    }
}

@keyframes cube-spin {
    0% {
        -webkit-transform: rotateX(-45deg) rotateY(20deg);
    }
    100% {
        -webkit-transform: rotateX(-45deg) rotateY(740deg);
    }
}

.cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    // background: red;
    transition: all 0.6s;
    opacity: 0.8;
    border: solid 0.5px rgba(255, 255, 255, 0.62);
}
// faces
.cube-face-front {
    // background: yellow;
    transform: translate3d(0, 0, $size/2);
}
.cube-face-back {
    // background: black;
    transform: rotateY(180deg) translate3d(0, 0, $size/2);
}
.cube-face-left {
    // background: green;
    transform: rotateY(-90deg) translate3d(0, 0, $size/2);
}
.cube-face-right {
    // background: magenta;
    transform: rotateY(90deg) translate3d(0, 0, $size/2);
}
.cube-face-top {
    // background: blue;
    transform: rotateX(90deg) translate3d(0, 0, $size/2);
}
.cube-face-bottom {
    // background: red;
    transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}
