//wow

@keyframes blink-fade {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.nav-icon-1D {
    margin: 0 auto;
    transition: width 0.3s ease-in;

    @mixin dot {
        display: inline-block;
        border-radius: 50%;
        background: white;
        height: 6px;
        width: 6px;

        transition: all ease-in 0.3s;
    }

    .dot {
        position: relative;
        top: -2px;
        z-index: 4;
        @include dot;

        &:after {
            content: "";
            position: absolute;
            @include dot;
        }

        &:before {
            position: absolute;
            content: "";
            @include dot;
        }
    }

    $interval: 0.5s;
}

@mixin nav-icon-1D-hover($delay: 0.3s) {
    $anim-mult: 2;
    $anim-delay: 0.2s + $delay;

    .d1 {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.5s *
                            $anim-mult))
            alternate-reverse;
    }

    .d1:after {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.1s *
                            $anim-mult))
            reverse;
    }

    .d1:before {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.8s *
                            $anim-mult));
    }

    .d2 {
        // animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0s *
        // $anim-mult))
        // reverse;
    }

    .d2:after {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.2s *
                            $anim-mult))
            alternate-reverse;
    }

    .d2:before {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (1s *
                            $anim-mult));
    }

    .d3 {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.4s *
                            $anim-mult))
            reverse;
    }

    .d3:after {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0s *
                            $anim-mult));
    }

    .d3:before {
        animation: blink-fade (1s * $anim-mult) infinite ($anim-delay + (0.2s *
                            $anim-mult))
            alternate-reverse;
    }

    .dot {
        $after-translate: 130%;

        &:after {
            transform: translateX(-$after-translate);
        }
        &:before {
            transform: translateX($after-translate);
        }
    }

    $main-translate: 220%;

    .d1 {
        transform: translateX(-$main-translate);
    }

    .d3 {
        transform: translateX($main-translate);
    }

    .dot,
    .dot:after,
    .dot:before {
        transition-delay: $delay;
    }
}

// ============================ 2D =========================//
$dim-2D: 18px;

@mixin tile-hover($num) {
    $translation: (23% *$num);
    transform: translate(-$translation, $translation);
    transition-delay: (0.3s * $num);
    transition-duration: 0.4s;
    opacity: 1;
    border: solid 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.2);
}

@mixin tile($num) {
    z-index: $num * 10;
}

@mixin nav-icon-2d-hover {
    .tile {
        transform: translateY(-60%) rotate(-45deg);
        border: solid 1px rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.5);
    }

    .tile-1 {
        @include tile-hover(1);
    }
    .tile-2 {
        @include tile-hover(2);
    }
    .tile-3 {
        @include tile-hover(3);
    }
    .tile-4 {
        @include tile-hover(4);
    }
}

.icon-2d-wrapper {
    transition: all ease-in 0.2s;
    position: relative;
}

.tile {
    width: $dim-2D;
    height: $dim-2D;
    border: solid 1px white;
    display: block;
    background: rgba(255, 255, 255, 0);

    margin: 0 auto;
    position: absolute;
    opacity: 0;

    transition: all ease-in 0.3s;
}

.tile-0 {
    position: relative;
    // border-color: blue;
    z-index: 99;
    opacity: 1;
}

.tile-1,
.tile-2,
.tile-3,
.tile-4 {
    top: 0;
}

.tile-1 {
    @include tile(1);
}
.tile-2 {
    @include tile(2);
}
.tile-3 {
    @include tile(3);
}
.tile-4 {
    @include tile(4);
}

// ======================== 3D ===================== ///

$size: 24px; // cube length
.nav-icon-3D {
    display: inline-block;
    width: $size;
    height: $size;

    transition: all 0.4s ease-out;
}

.cube {
    position: relative;
    width: inherit;
    height: inherit;

    transform-style: preserve-3d;
    transition: all 2s ease-out;
    // transform: rotateY(60deg) rotateX(30deg);

    // perspective: 600px;
    $deg: 45deg;
    transform: rotateX(35.5deg) rotateY(45deg); // rotateZ($deg);
}

@mixin nav-icon-3d-hover {
    .nav-icon-3D {
        transform: scale(1.8);
    }
    .cube {
        animation: cube-spin 20s infinite linear 2s;

        transform: rotateX(35.5 + 180deg) rotateY(765deg);

        .cube-face {
            background: rgba(255, 255, 255, 0.18);
            border-width: 1px;
        }
    }
}

@keyframes cube-spin {
    0% {
        transform: rotateX(35.5 + 180) rotateY(765deg); // rotateZ($deg);
    }
    100% {
        transform: rotateX(35.5 + 720deg) rotateY(765deg + 720);
    }
}

.cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    // background: red;
    transition: all 0.6s;
    opacity: 0.8;
    border: solid 0.5px rgba(255, 255, 255, 0.62);
}
// faces
.cube-face-front {
    // background: yellow;
    transform: translate3d(0, 0, $size/2);
}
.cube-face-back {
    // background: black;
    transform: rotateY(180deg) translate3d(0, 0, $size/2);
}
.cube-face-left {
    // background: green;
    transform: rotateY(-90deg) translate3d(0, 0, $size/2);
}
.cube-face-right {
    // background: magenta;
    transform: rotateY(90deg) translate3d(0, 0, $size/2);
}
.cube-face-top {
    // background: blue;
    transform: rotateX(90deg) translate3d(0, 0, $size/2);
}
.cube-face-bottom {
    // background: red;
    transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}
