---
custom_js:
- jquery.min
- home
---
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body class="home-body">
    <main class="page-content" aria-label="Content">
        <div class="wrapper home">

            <div class="home-title-wrapper">
                <div class="home-title-top">
                    <h2 class="home-title">Collected Works</h2>
                </div>
                <div class="home-title-middle">
                    <h3 class="home-title-sub">of</h3>
                </div>
                <div class="home-title-bottom">
                    <h1 class="home-title home-title-main">Charlie Dawn Yang</h1>
                </div>
            </div>

            <div class="home-nav-wrapper">
                <nav class="home-nav">
                    {% for navLink in site.data.nav_data.links %}
                    <div class="home-nav-block">
                        <a href="{{ "category/" | append: navLink.category_page  | absolute_url }}" class="home-nav-icon-wrapper">
                            {% include main-icon.html icon-file=navLink.icon%}
                        </a>
                        <div class="home-nav-upper">
                            <span class="nav-title">
                                <a href="{{ "category/" | append: navLink.category_page  | absolute_url }}">
                                    {{navLink.title}}
                                </a>
                            </span>
                        </div>
                        <div class="home-nav-title">
                            <a href="{{ "category/" | append: navLink.category_page | absolute_url }}">
                                <span class="nav-subtitle-header">{{navLink.description_starter}}</span>{{" "}}{{navLink.description}}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </nav>
            </div>

            <div class="home-about-wrapper">
                <a class="about-link" href="{{ "about" | absolute_url }}"> About </a>
            </div>
        </div>
    </main>
    <!-- {% include footer.html %} -->
</body>

</html>
